requests
torch
torchvision
pyyaml
datasets
diffusers
transformers
accelerate
safetensors
matplotlib
numpy
lpips
torchmetrics
scikit-image
python-dotenv
peft
ipywidgets
"torchmetrics[image]"
scikit-image
torchmetrics
lpips
torch-fidelity
gradio
